tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

# Nvim & Lazy specifics
## lazy.nvim
/lazy/
/pack/
lazy-lock.json

## neovim
/.cache/
/.session/
/shada/

## tooling
/.mason/
/.node_modules/

## temp
*.swp
*.swo
*~

## custom spelling
/spell/*

## Claude code
CLAUDE.md
